html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  width: 320px;
  height: 531px; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2 {
  font-family: 'Roboto Condensed', sans-serif; }

* {
  text-align: center; }

.tech {
  width: 100%;
  height: 58px;
  background-color: #ffab00; }

h1 {
  width: 202px;
  height: 15px;
  font-family: lato;
  font-size: 21px;
  font-weight: 900;
  line-height: 1.29;
  letter-spacing: 2.1px;
  text-align: left;
  color: #064159; }

.dropbtn {
  background-color: #ffab00;
  color: #064159;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer; }

.dropdown {
  position: relative;
  display: inline; }

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #ffab00;
  min-width: 146px;
  box-shadow: 0px 8px 16px 0px grey;
  z-index: 1; }

.dropdown-content a {
  color: #064159;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: black; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  background-color: #ffab00;
  color: #064159; }

.fltl {
  float: left; }

.fltr {
  float: right; }

.pic {
  background-image: url("pictures/hp.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 350px; }

.picc {
  width: 100%;
  height: 153px;
  font-family: Lato;
  font-size: 34px;
  font-weight: 900;
  line-height: 1.17;
  letter-spacing: 1.8px;
  text-align: left;
  color: #efe9d8;
  padding-left: 30px;
  padding-top: 90px; }

.piccc {
  width: 100%;
  height: 153px;
  font-family: Lato;
  font-size: 34px;
  font-weight: 900;
  line-height: 1.17;
  letter-spacing: 1.8px;
  text-align: left;
  color: #efe9d8;
  padding-left: 30px; }

.bc {
  background-color: #ffc400; }

.content {
  padding-top: 55px;
  padding-left: 28px;
  padding-right: 33px;
  padding-bottom: 55px; }

.titles {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.56;
  letter-spacing: 0.9px;
  color: #4e1c07;
  padding-bottom: 20px; }

.titless {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.56;
  letter-spacing: 0.9px;
  color: #eb503c;
  padding-bottom: 20px; }

.common {
  font-family: DroidSerif;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.8px;
  text-align: left;
  color: #021d2c; }

.common2 {
  font-family: DroidSerif;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.8px;
  text-align: left;
  color: #021d2c; }

.common3 {
  font-family: DroidSerif;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.8px;
  text-align: left;
  color: #4c1a14; }

.txtbox1 .common {
  font-family: DroidSerif;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.8px;
  text-align: left;
  color: #021d2c;
  padding-top: 15px; }

.gradiantbr {
  width: 100%;
  height: .5px;
  background-color: #ee3e28; }

.textbox2 .titles {
  padding-right: 20px;
  text-align: left; }

.fcontent {
  padding-top: 25px;
  padding-left: 58px;
  padding-right: 33px;
  padding-bottom: 25px; }

.list {
  color: #efe9d8; }

.bklist .bklist2 {
  background-color: #eb503c;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 54px; }

.sct {
  background-color: #ffc400; }
  .sct .titless {
    text-align: center;
    padding-left: 15px; }

.list2 .titles {
  padding-left: 59px;
  text-align: left; }

.sct2 {
  padding-top: 51px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 56px; }
  .sct2 .common {
    size: 20px;
    font-weight: bold;
    text-align: left; }
  .sct2 .common2 {
    font-size: 18px;
    text-align: left;
    letter-spacing: 0px; }

.sct3 {
  background-color: #e6e2d3;
  padding-top: 51px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 56px; }
  .sct3 .titles {
    text-align: left;
    font-size: 21px; }
  .sct3 .common2 {
    font-size: 16px;
    letter-spacing: 0px; }

.sct4 {
  padding-top: 51px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 56px; }
  .sct4 .titles {
    font-size: 20px; }
  .sct4 .common {
    font-size: 18px;
    padding-bottom: 20px; }
  .sct4 .common2 {
    font-size: 18px; }

.sep .common {
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: bold; }

.sec5 {
  background-color: #e6e2d3;
  padding-top: 51px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 56px; }
  .sec5 .titles {
    font-size: 21px; }
  .sec5 .common {
    font-size: 18px; }

.sec6 {
  padding-top: 51px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 56px; }
  .sec6 .common {
    font-size: 16px;
    letter-spacing: 0px; }

.pic2 {
  background-image: url("pictures/hp.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 260px; }

.pg31 {
  padding-top: 51px;
  padding-left: 15px;
  padding-right: 21px;
  padding-bottom: 56px; }
  .pg31 .titles {
    padding-left: 7px;
    font-size: 20px;
    position: relative; }
  .pg31 .common {
    padding-left: 7px;
    font-size: 20px;
    position: relative;
    padding-bottom: 20px; }
  .pg31 .common2 {
    padding-left: 9px; }
  .pg31 .common3 {
    text-align: left;
    padding-right: 55px;
    font-size: 20px; }

.pg32 {
  padding-top: 51px;
  padding-left: 15px;
  padding-right: 21px;
  padding-bottom: 56px; }
  .pg32 .titles {
    padding-left: 7px;
    font-size: 20px;
    position: relative; }
  .pg32 .common {
    padding-left: 7px;
    font-size: 20px;
    position: relative;
    padding-bottom: 20px; }
  .pg32 .common2 {
    padding-left: 9px; }
  .pg32 .common3 {
    text-align: left;
    padding-right: 20px;
    font-size: 20px; }

.pg33 {
  padding-top: 51px;
  padding-left: 15px;
  padding-right: 21px;
  padding-bottom: 56px; }
  .pg33 .titles {
    padding-top: 15px;
    padding-left: 7px;
    font-size: 20px;
    position: relative; }
  .pg33 .common {
    padding-left: 7px;
    font-size: 20px;
    position: relative;
    padding-bottom: 20px; }
  .pg33 .common2 {
    padding-left: 9px; }
  .pg33 .common3 {
    text-align: left;
    padding-right: 10px;
    font-size: 20px; }

.pg34 {
  padding-top: 51px;
  padding-left: 15px;
  padding-right: 21px;
  padding-bottom: 56px; }
  .pg34 .titles {
    padding-left: 7px;
    font-size: 20px;
    position: relative; }
  .pg34 .common {
    padding-left: 7px;
    font-size: 20px;
    position: relative;
    padding-bottom: 20px; }
  .pg34 .common2 {
    padding-left: 9px; }
  .pg34 .common3 {
    text-align: left;
    padding-right: 50px;
    font-size: 20px; }

.pg35 {
  background-color: #eb503c;
  padding-top: 51px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 56px;
  text-align: left; }
  .pg35 .gt {
    text-align: left;
    padding: 0px;
    padding-bottom: 10px;
    color: #efe9d8;
    font-size: 30px; }
  .pg35 .gtt {
    text-align: left;
    padding: 0px;
    padding-top: 0px;
    color: #efe9d8;
    font-size: 20px;
    padding-bottom: 15px; }
  .pg35 .gttt {
    color: #efe9d8;
    font-size: 18px; }

.pg36 {
  background-color: #eb503c;
  padding-top: 51px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 56px;
  text-align: left; }
  .pg36 .gt {
    text-align: left;
    padding-bottom: 30px;
    color: #efe9d8;
    font-size: 20px; }
  .pg36 .gtt {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #efe9d8;
    font-size: 20px; }
  .pg36 .gttt {
    color: #efe9d8;
    font-size: 18px; }

/*# sourceMappingURL=style.css.map */
